<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxy.ssm.dao.IUserDao">

	<resultMap type="com.zxy.ssm.pojo.User" id="userResultMap">
		<id property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="userSex" column="user_sex" />
		<result property="userAge" column="user_age" />
		<result property="userTel" column="user_tel" />
	</resultMap>
	<!-- 查询数据个数 -->
	<select id="getCount" resultType="java.lang.Integer">
		SELECT COUNT(0)
		FROM tbl_user
		<where>
			<if test="user.userId != -1">
				AND tbl_user.user_id = #{user.userId, jdbcType = INTEGER}
			</if>
			<if test="user.userName != null and user.userName != ''">
				AND tbl_user.user_name = #{user.userName, jdbcType = VARCHAR}
			</if>
			<if test="user.userSex != null and user.userSex != ''">
				AND tbl_user.user_sex = #{user.userSex, jdbcType = VARCHAR}
			</if>
			<if test="user.userAge != null and user.userAge != ''">
				AND tbl_user.user_age = #{user.userAge, jdbcType = INTEGER}
			</if>
			<if test="user.userSex != null and user.userSex != ''">
				AND tbl_user.user_tel = #{user.userTel, jdbcType = INTEGER}
			</if>
		</where>
	</select>
	<!-- 查询User数据操作 -->
	<select id="getUser" resultMap="userResultMap">
		SELECT
		tbl_user.user_id,
		tbl_user.user_name,
		tbl_user.user_sex,
		tbl_user.user_age,
		tbl_user.user_tel,
		FROM tbl_user
		<where>
			<if test="user.userId != -1">
				AND tbl_user.user_id = #{user.userId, jdbcType = INTEGER}
			</if>
			<if test="user.userName != null and user.userName != ''">
				AND tbl_user.user_name = #{user.userName, jdbcType = VARCHAR}
			</if>
			<if test="user.userSex != null and user.userSex != ''">
				AND tbl_user.user_sex = #{user.userSex,jdbcType = VARCHAR}
			</if>
			<if test="user.userAge != null and user.userAge != ''">
				AND tbl_user.user_age = #{user.userId, jdbcType = INTEGER}
			</if>
			<if test="user.userTel != null and user.userTel != ''">
				AND tbl_user.user_tel = #{user.userTel, jdbcType = INTEGER}
			</if>
			<if test="user.rowCount != -1 and user.rowIndex != -1">
				LIMIT #{user.rowIndex, jdbcType = INTEGER},#{user.rowCount,jdbcType = INTEGER}
			</if>
		</where>
	</select>
</mapper>