<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxy.ssm.dao.IUserDao">

	<resultMap type="com.zxy.ssm.pojo.User" id="userResultMap">
		<id property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="userSex" column="user_sex" />
		<result property="userAge" column="user_age" />
		<result property="userTel" column="user_tel" />
	</resultMap>
	<!-- 查询数据个数 -->
	<select id="getCount" resultType="java.lang.Integer">
		SELECT COUNT(0)
		FROM tbl_user
	</select>
	<!-- 查询User数据操作 -->
	<select id="getUser" resultMap="userResultMap">
		SELECT
		user_id,
		user_name,
		user_sex,
		user_age,
		user_tel
		FROM tbl_user
	</select>
</mapper>